<div class="container-fluid">

    <div class="filters bars col-sm-12">
        <button class="btn btn-primary btn-lg" type="submit">Search</button>
        <button class="btn btn-primary btn-lg" type="submit">Reset</button>
      </div>
      <div class="parcel col-sm-12">

          <div class="row" >
            <div class="col-sm-2">
              <h4>Shape</h4>
            </div>
            <div class="col-sm-10">
                <div class="form-group">	
                    <div class="block-select"><label class="btn btn-primary img-check"><span> FL</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> IF</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> VVS1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> VVS2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> VS1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> VS2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> SI1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> SI2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> SI3</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> I1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> I2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                    <div class="block-select"><label class="btn btn-primary img-check"><span> I3</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

                </div>
        
            </div>
          </div>

          <div class="row">
              <div class="col-sm-2">
                <h4>Sizes</h4>
                <ul class="list-inline">
                  <li class="list-inline-item"><a class="active" href="#__general" role="tab" data-toggle="tab">General</a> </li>
                  <li class="list-inline-item"><a class="" href="#__specific" role="tab" data-toggle="tab">Specific</a></li>
                </ul>
              </div>
              <div class="col-sm-10 tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="__general">
                  <div class="col-sm-1">
                    <div class='square-box'>
                     1
                  </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  <div class="col-sm-1">
                    <div class='square-box'>
                      1
                   </div>
                  </div>
                  
                </div>
                <div role="tabpanel" class="tab-pane fade" id="__specific">
                  <div class="col-sm-6">
                  <h5 class="page-header">From</h5>
                          <form role="form">
                              <div class="form-group float-label-control label-bottom">
                                  <input type="email" class="form-control" placeholder="From">
                              </div>
                          </form>
                  </div>
                  <div class="col-sm-6">
                      <h5 class="page-header">To</h5>
                              <form role="form">
                                  <div class="form-group float-label-control label-bottom">
                                      <input type="email" class="form-control" placeholder="To">
                                  </div>
                              </form>
                      </div>
                </div>
              </div>
            </div>
          
          
            <div class="row">
                <div class="col-sm-2">
                    <h4>Color</h4>
                  </div>
                  <div class="col-sm-10">
                    
                      <div class="form-group">	
                          <div class="block-select"><label class="btn btn-primary img-check"><span> A</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> B</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> B</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> E</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> E</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> W</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> F</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> B</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> H</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> T</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> E</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
          
                          <div class="block-select"><label class="btn btn-primary img-check"><span> Q</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> L</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> P</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <div class="block-select"><label class="btn btn-primary img-check"><span> P</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          
                          <div class="block-select"><label class="btn btn-primary img-check"><span> P</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                          <!-- <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk2" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>
                          <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk3" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>
                          <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div> -->
                      
                        </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <h4>Clarity</h4>
                  </div>
                  <div class="col-sm-10 ">
                    <div>
          
                        <div class="col-sm-1">
                            <div class='square-box'>
                             1
                          </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
          
          
          
          
          
          
          
          
          
          
          
          
                      
                    </div>
                  </div>
          
            </div>
        
            <div class="row">
                <div class="col-sm-2">
                    <h4>Show Only</h4>
                  </div>
                  <div class="col-sm-10 ">
                    <div>
          
                        <div class="col-sm-12">
                            <div class='square-box'>
                             1
                          </div>
                          </div>
                          
          
          
          
          
          
          
          
          
          
          
          
          
                      
                    </div>
                  </div>
          
            </div>
            <div class="row">
                <div class="col-sm-2">
                  <h4>Pieces Per Carat</h4>
                  
                </div>
                <div class="col-sm-10">
                  
                    <div class="col-sm-6">
                    <h5 class="page-header">From</h5>
                            <form role="form">
                                <div class="form-group float-label-control label-bottom">
                                    <input type="email" class="form-control" placeholder="From">
                                </div>
                            </form>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="page-header">To</h5>
                                <form role="form">
                                    <div class="form-group float-label-control label-bottom">
                                        <input type="email" class="form-control" placeholder="To">
                                    </div>
                                </form>
                        </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                      <h4>Price</h4>
                      
                    </div>
                    <div class="col-sm-10">
                      
                        <div class="col-sm-2">
                        <h5 class="page-header">$/CT</h5>
                                <form role="form">
                                    <div class="form-group float-label-control label-bottom">
                                        <input type="email" class="form-control" placeholder="From">
                                    </div>
                                </form>
                        </div>
                        <div class="col-sm-2">
                            
                                    <form role="form" style="margin-top: 22px;">
                                        <div class="form-group float-label-control label-bottom">
                                            <input type="email" class="form-control" placeholder="To">
                                        </div>
                                    </form>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="page-header">Total</h5>
                                        <form role="form">
                                            <div class="form-group float-label-control label-bottom">
                                                <input type="email" class="form-control" placeholder="From">
                                            </div>
                                        </form>
                                </div>
                                <div class="col-sm-2">
                                    
                                            <form role="form" style="margin-top: 22px;">
                                                <div class="form-group float-label-control label-bottom">
                                                    <input type="email" class="form-control" placeholder="To">
                                                </div>
                                            </form>
                                    </div>
                                    <div class="col-sm-2">
                                        <h5 class="page-header">Rap%</h5>
                                                <form role="form">
                                                    <div class="form-group float-label-control label-bottom">
                                                        <input type="email" class="form-control" placeholder="From">
                                                    </div>
                                                </form>
                                        </div>
                                        <div class="col-sm-2">
                                            
                                                    <form role="form" style="margin-top: 22px;">
                                                        <div class="form-group float-label-control label-bottom">
                                                            <input type="email" class="form-control" placeholder="To">
                                                        </div>
                                                    </form>
                                            </div>
                      </div>
                    </div>
             

                    <div class="row" >
                      <div class="col-sm-2">
                        <h4>Parcel Type</h4>
                      </div>
                      <div class="col-sm-10">
                        <div >
                          <div class="col-sm-1">
                            <div class='square-box'>
                             1
                          </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          <div class="col-sm-1">
                            <div class='square-box'>
                              1
                           </div>
                          </div>
                          
                        </div>
                  
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-2">
                        <h4>Sieve</h4>
                        
                      </div>
                      <div class="col-sm-10">
                        
                          <div class="col-sm-6">
                          <h5 class="page-header">From</h5>
                                  <form role="form">
                                      <div class="form-group float-label-control label-bottom">
                                          <input type="email" class="form-control" placeholder="From">
                                      </div>
                                  </form>
                          </div>
                          <div class="col-sm-6">
                              <h5 class="page-header">To</h5>
                                      <form role="form">
                                          <div class="form-group float-label-control label-bottom">
                                              <input type="email" class="form-control" placeholder="To">
                                          </div>
                                      </form>
                              </div>
                        </div>
                      </div>


                      <div class="row">

                        <div class="submit">
                          <button class="btn btn-primary btn-lg" type="submit">Search</button>
                         <button class="btn btn-primary btn-lg" type="submit">Reset</button>
                        </div>


                      </div>
          <!-- <div class="row">
              <div class="col-sm-2">
                  <h4>Shades</h4>
                </div>
                <div class="col-sm-10 ">
                    <div class="col-sm-4">
                        <h5 class="page-header">Shades</h5>
                                <form role="form">
                                    <div class="form-group float-label-control label-bottom">
                                        <input type="email" class="form-control" placeholder="From">
                                    </div>
                                </form>
                  </div>
                </div>
          </div> -->
          
          
        
        </div>
</div>