<div class="basic">

  <div class="row" >
    <div class="col-sm-2">
      <h4>Shape</h4>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="active" href="#_basic" role="tab" data-toggle="tab">Basic</a> </li>
        <li class="list-inline-item"><a class="" href="#_advance" role="tab" data-toggle="tab">Advance</a></li>
      </ul>
    </div>
    <div class="col-sm-10 tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="_basic">
        
        	<div class="form-group">	
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
              <div class="block-select"><label class="btn btn-primary img-check"><span><i class="fa fa-bandcamp" aria-hidden="true"></i> Round</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

              
              <!-- <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk2" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>
              <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk3" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>
              <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div> -->
          
            </div>
        
        <!-- <div class="col-sm-1">
          <div class='square-box'>
              
        </div>
        </div> -->
        <!-- <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div> -->
        <!-- <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div>
        <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div>
        <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div>
        <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div>
        <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div>
        <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div>
        <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div>
        <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div>
        <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div>
        <div class="col-sm-1">
          <div class='square-box'>
            1
         </div>
        </div> -->
        
      </div>
      <div role="tabpanel" class="tab-pane fade" id="_advance">
        <h5 class="page-header">Shape name as appears on lab report</h5>
                <form role="form">
                    <div class="form-group float-label-control label-bottom">
                        <input type="email" class="form-control" placeholder="Start typing shape name...">
                    </div>
                </form>

      </div>
    </div>
  </div>
  <div class="row size">
    <div class="col-sm-2">
      <h4>Sizes</h4>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="active" href="#_general" role="tab" data-toggle="tab">General</a> </li>
        <li class="list-inline-item"><a class="" href="#_specific" role="tab" data-toggle="tab">Specific</a></li>
      </ul>
    </div>
    <div class="col-sm-10 tab-content">
        <div role="tabpanel" class="tab-pane fade" id="_general">
            <div class="form-group">	
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                <div class="block-select"><label class="btn btn-primary img-check"><span> 0.30-0.39</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

                
                <!-- <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk2" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>
                <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk3" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>
                <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div> -->
            
              </div>
          </div>
      <div role="tabpanel" class="tab-pane fade in active" id="_specific">
          <div class="col-sm-6">
              <h5 class="page-header">From</h5>
                      <form role="form">
                          <div class="form-group float-label-control label-bottom">
                              <input type="email" class="form-control" placeholder="From">
                          </div>
                      </form>
              </div>
              <div class="col-sm-6">
                  <h5 class="page-header">To</h5>
                          <form role="form">
                              <div class="form-group float-label-control label-bottom">
                                  <input type="email" class="form-control" placeholder="To">
                              </div>
                          </form>
                  </div>
        
      </div>
      
    </div>
  </div>
  <div class="row color">
      <div class="col-sm-2">
          <h4>Color</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><a class="active" href="#_fancy" role="tab" data-toggle="tab">Fancy</a> </li>
            <li class="list-inline-item"><a class="" href="#_white" role="tab" data-toggle="tab">White</a></li>
          </ul>
        </div>
        <div class="col-sm-10 tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="_fancy">
            
              <div class="col-sm-3">
                  <h5 class="page-header">Intensity</h5>
                          <form role="form">
                              <div class="form-group float-label-control label-bottom">
                                  <input type="email" class="form-control" placeholder="From">
                              </div>
                          </form>
                </div>
                  <div class="col-sm-3">
                      
                              <form role="form" style="margin-top: 22px;">
                                  <div class="form-group float-label-control label-bottom">
                                      <input type="email" class="form-control" placeholder="To">
                                  </div>
                              </form>
                      </div>
                      <div class="col-sm-3">
                          <h5 class="page-header">Overtone</h5>
                                  <form role="form">
                                      <div class="form-group float-label-control label-bottom">
                                          <input type="email" class="form-control" placeholder="From">
                                      </div>
                                  </form>
                          </div>
                          <div class="col-sm-3">
                              <h5 class="page-header">Color</h5>
                                      <form role="form">
                                          <div class="form-group float-label-control label-bottom">
                                              <input type="email" class="form-control" placeholder="To">
                                          </div>
                                      </form>
                              </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="_white">

              <div class="form-group">	
                  <div class="block-select"><label class="btn btn-primary img-check"><span> A</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> B</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> B</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> E</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> E</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> W</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> F</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> B</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> H</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> T</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> E</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
  
                  <div class="block-select"><label class="btn btn-primary img-check"><span> Q</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> L</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> P</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <div class="block-select"><label class="btn btn-primary img-check"><span> P</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  
                  <div class="block-select"><label class="btn btn-primary img-check"><span> P</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                  <!-- <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk2" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>
                  <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk3" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>
                  <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div> -->
              
                </div>




            
          </div>
        </div>
  </div>
  <div class="row clarity">
      <div class="col-sm-2">
          <h4>Clarity</h4>
        </div>
        <div class="col-sm-10 ">
                <div class="form-group">	
                        <div class="block-select"><label class="btn btn-primary img-check"><span> FL</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> IF</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> VVS1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> VVS2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> VS1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> VS2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> SI1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> SI2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> SI3</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> I1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> I2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> I3</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

                    </div>
        </div>

  </div>
  <div class="row inclu">
    <div class="col-sm-2">
          <h4>Inclusions</h4>
        </div>
        <div class="col-sm-10 ">
          
            <!-- <div class="col-sm-4">
                <h5 class="page-header">Eye Clean<i href="#info" data-toggle="modal" class="glyphicon glyphicon-eye-open"></i>
                </h5>


                <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header modal-header-info">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h1><i class="glyphicon glyphicon-thumbs-up"></i> Info Modal</h1>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                        <form role="form">
                            <div class="form-group float-label-control label-bottom">
                                    <select title="Pick a number" class=" form-control">
                                            <option>Select...</option>
                                            <option>One</option>
                                            <option>Two</option>
                                            <option>Three</option>
                                    </select>
                                
                            </div>
                        </form>
            </div> -->
            <div class="col-sm-4">
                    <h5 class="page-header">Eye Clean</h5>
                            <form role="form">
                                <div class="form-group float-label-control label-bottom">
                                        <select title="Pick a number" class=" form-control">
                                                <option disabled hidden>Select...</option>
                                                <option value="yes">Yes</option>
                                                <option>Borderline</option>
                                                <option>E1</option>
                                                <option>E2(not)</option>
                                        </select>                                
                                </div>
                            </form>
            </div>
            <div class="col-sm-4">
                    <h5 class="page-header">Milky from</h5>
                            <form role="form">
                                <div class="form-group float-label-control label-bottom">
                                        <select title="Pick a number" class=" form-control">
                                                <option hidden>From</option>
                                                <option>Node</option>
                                                <option>Light</option>
                                                <option>Medium</option>
                                                <option>Heavy</option>

                                        </select>                                </div>
                            </form>
            </div>

            <div class="col-sm-4">
                    <h5 class="page-header">Milky to</h5>
                            <form role="form">
                                <div class="form-group float-label-control label-bottom">
                                        <select title="Pick a number" class=" form-control">
                                                <option hidden>To</option>
                                                <option>None</option>
                                                <option>Light</option>
                                                <option>Medium</option>
                                                <option>Heavy</option>
                                        </select>                                </div>
                            </form>
            </div>
            <div class="col-sm-4">
                    <h5 class="page-header">Open Inclusions</h5>
                            <form role="form">
                                <div class="form-group float-label-control label-bottom">
                                        <select title="Pick a number" class=" form-control">
                                                <option>Select...</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                        </select>                                </div>
                            </form>
            </div>
            <div class="col-sm-4">
                    <h5 class="page-header">White Inclusions</h5>
                            <form role="form">
                                <div class="form-group float-label-control label-bottom">
                                        <select title="Pick a number" class=" form-control">
                                                <option>Select...</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                        </select>                                </div>
                            </form>
            </div>
            <div class="col-sm-4">
                    <h5 class="page-header">Black Inclusions</h5>
                            <form role="form">
                                <div class="form-group float-label-control label-bottom">
                                        <select title="Pick a number" class=" form-control">
                                                <option>Select...</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                        </select>                                </div>
                            </form>
            </div>

        </div>
        
  </div>
  <div class="row">
      <div class="col-sm-2">
          <h4>Shades</h4>
        </div>
        <div class="col-sm-10 ">
            <div class="col-sm-4">
                <h5 class="page-header">Shades</h5>
                        <form role="form">
                            <div class="form-group float-label-control label-bottom">
                                    <select title="Pick a number" class=" form-control">
                                            <option>Select...</option>
                                            <option>One</option>
                                            <option>Two</option>
                                            <option>Three</option>
                                    </select>                               </div>
                        </form>
          </div>
        </div>
  </div>
  <div class="row">
      <div class="col-sm-2">
          <h4>Finish</h4>
        </div>
        <div class="col-sm-10 ">
            <div class="col-sm-2">
                <h5 class="page-header">Shades</h5>
                        <form role="form">
                            <div class="form-group float-label-control label-bottom">
                                    <select title="Pick a number" class=" form-control">
                                            <option>From</option>
                                            <option>One</option>
                                            <option>Two</option>
                                            <option>Three</option>
                                    </select>                               </div>
                        </form>
          </div>
          <div class="col-sm-2">
              
                      <form role="form" style="margin-top: 22px;">
                          <div class="form-group float-label-control label-bottom">
                                <select title="Pick a number" class=" form-control">
                                        <option>To</option>
                                        <option>One</option>
                                        <option>Two</option>
                                        <option>Three</option>
                                </select>                             </div>
                      </form>
        </div>
        <div class="col-sm-2">
            <h5 class="page-header">Polish</h5>
                    <form role="form">
                        <div class="form-group float-label-control label-bottom">
                                <select title="Pick a number" class=" form-control">
                                        <option>From</option>
                                        <option>One</option>
                                        <option>Two</option>
                                        <option>Three</option>
                                </select>                           </div>
                    </form>
      </div>
      <div class="col-sm-2">
          
                  <form role="form" style="margin-top: 22px;">
                      <div class="form-group float-label-control label-bottom">
                            <select title="Pick a number" class=" form-control">
                                    <option>To</option>
                                    <option>One</option>
                                    <option>Two</option>
                                    <option>Three</option>
                            </select>                         </div>
                  </form>
    </div>
    <div class="col-sm-2">
        <h5 class="page-header">Symmetry</h5>
                <form role="form">
                    <div class="form-group float-label-control label-bottom">
                            <select title="Pick a number" class=" form-control">
                                    <option>From</option>
                                    <option>One</option>
                                    <option>Two</option>
                                    <option>Three</option>
                            </select>                       </div>
                </form>
  </div>
  <div class="col-sm-2">
      
              <form role="form" style="margin-top: 22px;">
                  <div class="form-group float-label-control label-bottom">
                        <select title="Pick a number" class=" form-control">
                                <option>To</option>
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                        </select>                     </div>
              </form>
</div>
        </div>
  </div>
  <div class="row intensity">
      <div class="col-sm-2">
          <h4>Fluorescence Intensity
            </h4>
        </div>
        <div class="col-sm-10 ">
                <div class="form-group col-sm-9">	
                        <div class="block-select"><label class="btn btn-primary img-check"><span> None</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> Very Slight</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> Faint/Slight</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> Medium</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> Strong</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> Very Strong</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        
                </div>
                <div class="col-sm-3">
                <h5 class="page-header">Color</h5>
                        <form role="form">
                            <div class="form-group float-label-control label-bottom">
                                    <select title="Pick a number" class=" form-control">
                                            <option>Select...</option>
                                            <option>One</option>
                                            <option>Two</option>
                                            <option>Three</option>
                                    </select>                               </div>
                        </form>
</div>
        </div>
  </div>
  <div class="row Report">
      <div class="col-sm-2">
          <h4>Grading Report
            </h4>
        </div>
        <div class="col-sm-10 ">
                <div class="form-group">	
                        <div class="block-select"><label class="btn btn-primary img-check"><span> GIA</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> RAP</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> AGS</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> HRD</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> IGI</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> RDC</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> CGL</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> DCLA</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> GCAL</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> GHI</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> MOre</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

                </div>
        </div>
  </div>
  <div class="row">
      <div class="col-sm-2">
          <h4>Location
            </h4>
        </div>
        <div class="col-sm-10 ">
          <div>               
                <div class="col-sm-9">
                    <h5 class="page-header">Enter Location</h5>
                            <form role="form">
                                <div class="form-group float-label-control label-bottom">
                                        <select title="Pick a number" class=" form-control">
                                                <option>Start typing location name</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                        </select>                                   </div>
                            </form>
              </div>      
          </div>
        </div>
  </div>
  <div class="row">
      <div class="col-sm-2">
          <h4>Seller(s)
            </h4>
        </div>
        <div class="col-sm-10 ">
          <div>               
                <div class="col-sm-3">
                    <h5 class="page-header">Rap ID/Company Codes</h5>
                            <form role="form">
                                <div class="form-group float-label-control label-bottom">
                                        <select title="Pick a number" class=" form-control">
                                                <option>Select...</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                        </select>                                   </div>
                            </form>
              </div>   
              <div class="col-sm-3">
                  <h5 class="page-header">Rating</h5>
                          <form role="form">
                              <div class="form-group float-label-control label-bottom">
                                    <select title="Pick a number" class=" form-control">
                                            <option hidden>Select</option>
                                            <option>One</option>
                                            <option>Two</option>
                                            <option>Three</option>
                                    </select>                                 </div>
                          </form>
            </div>   
            <div class="col-sm-3">
                <h5 class="page-header">Stock Number(s)</h5>
                        <form role="form">
                            <div class="form-group float-label-control label-bottom">
                                <input type="email" class="form-control" placeholder="Start Typing Location name...">
                            </div>
                        </form>
          </div>   
          <div class="col-sm-3">
              <h5 class="page-header">Lot Number(s)</h5>
                      <form role="form">
                          <div class="form-group float-label-control label-bottom">
                              <input type="email" class="form-control" placeholder="Start Typing Location name...">
                          </div>
                      </form>
        </div>      
          </div>
        </div>
  </div>
  <div class="row repSpec">
      <div class="col-sm-2">
          <h4>RapSpec
            </h4>
        </div>
        <div class="col-sm-10 ">
                <div class="form-group">	
                        <div class="block-select"><label class="btn btn-primary img-check"><span> A1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> A2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> A3</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> A4</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> A5</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> B1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> B2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> B3</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> B4</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> B5</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> C1</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> C2</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> C3</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> C4</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
                        <div class="block-select"><label class="btn btn-primary img-check"><span> C5</span><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

                </div>
        </div>
  </div>






</div>