.basic .row{
margin: 0;
padding: 10px;
border-bottom: 1px solid #d2d2d2;

}
.inclu{
    height: 165px!important;
}
#_basic label{
    height: 80px;
    width: 80px;
}

label {
    font-weight: 400!important;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.check
{
    opacity:0.5;
	color:#996;
	
}
.block-select label{
    background-color: #f3f3f3;
    color: black;
    border: none;
    border-right:1px solid rgb(218, 219, 219);
    border-bottom: 1px solid rgb(218, 219, 219);
    border-radius: 0px;

}
.size .block-select label{
        height: 60px;
        padding: 6px;
}
.color .block-select label{
    height: 60px;
    padding: 20px;
}
.size .block-select label span{
line-height: 3.5;

}
br{
    display: block;
    margin-top: -5px;
    content: "";
}
.clarity label{
   padding: 15px 22px;
    
}
.Report label{
    padding: 20px;
}
.intensity label{
    padding: 18px 19px;
}
.repSpec label{
padding: 17px;
}
.block-select label i{
    display: block;
    font-size: 30px;


}
.block-select p{
    font-size: 12px;
}
.block-select label i img{
    width: 75%;
}

.square-box{
    width: 50px;
    background: aquamarine;
    height: 50px;

}

.page-header{
    padding: 0px;
    border: none;
    margin: 0;
}

.block-select{
    display: inline-block;
}
.form-group{
    margin: 0px;
}
.float-label-control { position: relative; margin-bottom: 1.5em; }
    .float-label-control ::-webkit-input-placeholder { color: #aaa;
    font-size: 15px; }
    .float-label-control :-moz-placeholder { color: #aaa; }
    .float-label-control ::-moz-placeholder { color: #aaa; }
    .float-label-control :-ms-input-placeholder { color: #aaa; }
    .float-label-control input:-webkit-autofill,
    .float-label-control textarea:-webkit-autofill { background-color: transparent !important; -webkit-box-shadow: 0 0 0 1000px white inset !important; -moz-box-shadow: 0 0 0 1000px white inset !important; box-shadow: 0 0 0 1000px white inset !important; }
    .float-label-control input, .float-label-control textarea, .float-label-control label { font-size: 1.3em; box-shadow: none; -webkit-box-shadow: none; }
        .float-label-control textarea:focus { padding-bottom: 4px; }
    .float-label-control input, .float-label-control textarea,.float-label-control select {
        
        background-color: whitesmoke!important  ;
        display: block; width: 100%; padding: 0.1em 0em 1px 0.5em; border:none;border-bottom: 2px solid #9b3bdd; border-radius: 0px; outline: none;     margin-top: 8px;
        background: none; }
    .float-label-control textarea  { padding: 0.1em 0em 5px 1em; }
   
    .modal-header-info {
        color:#fff;
        padding:9px 15px;
        border-bottom:1px solid #eee;
        background-color: #5bc0de;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
    }

   