.filters{
    width: 45%;
    float: right;
    padding-top: 20px;
}
.Float-left{
    float: left;
}
.Float-right{
    float:right;
}
.bars{margin: 5px 0;}
.bars span{
    font-size: 20px;
    line-height: 2;
}
.bars i{
    font-size: 40px
}
.tabs-btn{
    background: linear-gradient(to left, #9b3bdd 70%, #0f66ad 217%);}
/* .btn{
    padding: 0 12px!important;
} */