<div class="container-fluid">

    <div class="filters bars">
      <div class="col-sm-5">
        <p>Load Saved Searches</p>
      </div>
      <div class="col-sm-4">
        <p>Save Search</p>
      </div>
      <div class="col-sm-2">
        <p>Search</p>
      </div>
      
      <div class="col-sm-1">
        <p>reset</p>
      </div>
    </div>
    <div class="col-sm-12 bars basic">
      <button data-toggle="collapse" data-target="#basic" class="btn btn-primary btn-block">
        <span class="Float-left">Basic</span>
        <i class="fa fa-angle-down Float-right"></i>
        
      </button>
      
        <div id="basic" class="collapse">
          <app-basic></app-basic>
        </div>
      
    </div>
    <div class="col-sm-12 bars preference">
      <button data-toggle="collapse" data-target="#preference" class="btn btn-primary btn-block">
        <span class="Float-left">Preferences</span>
        <i class="fa fa-angle-down Float-right"></i>
        
      </button>
  
        <div id="preference" class="collapse">
        Lorem ipsum dolor text....
        </div>
  
    </div>
    <div class="col-sm-12 bars measurment">
        <button data-toggle="collapse" data-target="#measurment" class="btn btn-primary btn-block">
          <span class="Float-left">Measurements</span>
          <i class="fa fa-angle-down Float-right"></i>
          
        </button>
    
          <div id="measurment" class="collapse">
          Lorem ipsum dolor text....
          </div>
    
    </div>
    <div class="col-sm-12 bars treatment">
        <button data-toggle="collapse" data-target="#treatment" class="btn btn-primary btn-block">
          <span class="Float-left">Treatment</span>
          <i class="fa fa-angle-down Float-right"></i>
          
        </button>
    
          <div id="treatment" class="collapse">
          Lorem ipsum dolor text....
          </div>
    
    </div>
    <div class="col-sm-12 bars key">
        <button data-toggle="collapse" data-target="#key" class="btn btn-primary btn-block">
          <span class="Float-left">Key to Symbols</span>
          <i class="fa fa-angle-down Float-right"></i>
          
        </button>
    
          <div id="key" class="collapse">
          Lorem ipsum dolor text....
          </div>
    
    </div>
    <div class="col-sm-12 bars advance">
          <button data-toggle="collapse" data-target="#advance" class="btn btn-primary btn-block">
            <span class="Float-left">Advanced</span>
            <i class="fa fa-angle-down Float-right"></i>
            
          </button>
      
            <div id="advance" class="collapse">
            Lorem ipsum dolor text....
            </div>
      
    </div>





</div>
