<div class="measurment">



    <div class="row">
        <div class="col-sm-2">
            <h4>Percentage</h4>
          </div>
          <div class="col-sm-10 ">
          <div class="col-sm-3">
              <h5 class="page-header">Depth%</h5>
                      <form role="form">
                          <div class="form-group float-label-control label-bottom">
                              <input type="email" class="form-control" placeholder="From">
                          </div>
                      </form>
        </div>
        <div class="col-sm-3">
            
                    <form role="form" style="margin-top: 22px;">
                        <div class="form-group float-label-control label-bottom">
                            <input type="email" class="form-control" placeholder="To">
                        </div>
                    </form>
      </div>
      <div class="col-sm-3">
          <h5 class="page-header">Table%</h5>
                  <form role="form">
                      <div class="form-group float-label-control label-bottom">
                          <input type="email" class="form-control" placeholder="From">
                      </div>
                  </form>
    </div>
    <div class="col-sm-3">
        
                <form role="form" style="margin-top: 22px;">
                    <div class="form-group float-label-control label-bottom">
                        <input type="email" class="form-control" placeholder="To">
                    </div>
                </form>
  </div>
          </div>
    </div>


    <div class="row">
        <div class="col-sm-2">
            <h4>Metric</h4>
          </div>
          <div class="col-sm-10 ">
          <div class="col-sm-2">
              <h5 class="page-header">Length</h5>
                      <form role="form">
                          <div class="form-group float-label-control label-bottom">
                              <input type="email" class="form-control" placeholder="From">
                          </div>
                      </form>
        </div>
        <div class="col-sm-2">
            
                    <form role="form" style="margin-top: 22px;">
                        <div class="form-group float-label-control label-bottom">
                            <input type="email" class="form-control" placeholder="To">
                        </div>
                    </form>
      </div>
      <div class="col-sm-2">
          <h5 class="page-header">Width</h5>
                  <form role="form">
                      <div class="form-group float-label-control label-bottom">
                          <input type="email" class="form-control" placeholder="From">
                      </div>
                  </form>
    </div>
    <div class="col-sm-2">
        
                <form role="form" style="margin-top: 22px;">
                    <div class="form-group float-label-control label-bottom">
                        <input type="email" class="form-control" placeholder="To">
                    </div>
                </form>
  </div>

  <div class="col-sm-2">
      <h5 class="page-header">Depth</h5>
              <form role="form">
                  <div class="form-group float-label-control label-bottom">
                      <input type="email" class="form-control" placeholder="From">
                  </div>
              </form>
</div>
<div class="col-sm-2">
    
            <form role="form" style="margin-top: 22px;">
                <div class="form-group float-label-control label-bottom">
                    <input type="email" class="form-control" placeholder="To">
                </div>
            </form>
</div>
          </div>
    </div>


    <div class="row">
        <div class="col-sm-2">
            <h4>Ratio </h4>
          </div>
          <div class="col-sm-10 ">
          <div class="col-sm-4">
              
                      <form role="form" style="margin-top: 22px;">
                          <div class="form-group float-label-control label-bottom">
                              <input type="email" class="form-control" placeholder="From">
                          </div>
                      </form>
        </div>
        <div class="col-sm-4">
            
                    <form role="form" style="margin-top: 22px;" >
                        <div class="form-group float-label-control label-bottom">
                            <input type="email" class="form-control" placeholder="To">
                        </div>
                    </form>
      </div>
      <div class="col-sm-4">
          
                  <form role="form" style="margin-top: 22px;">
                      <div class="form-group float-label-control label-bottom">
                          <input type="email" class="form-control" placeholder="From">
                      </div>
                  </form>
    </div>
    
    </div>












</div>
