<div class="treatment">



  <div class="row">

      <div class="col-xs-12">
          <span>Display Type: </span>
          <input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne" checked/> No treatment
          <input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne"/> Show Only treated
          <input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"/> Include treated diamonds in results
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
            
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Content</p>
                </div>
              </div>
            </div>
          </div>
        </div>


  </div>

</div>