<div class="view intro hm-purple-light" >

<div class="container-fluid  row main-login">
  <div class="col-sm-5 left">

      <a class="LoginHeading" href="#"><strong>GEM GALAXY</strong></a>



      <div id="login">
        <div class="text-center profile "><img src="../../assets/Images/profile-img.png" width="80px"></div>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-12">
                    <div class="login-box col-md-12">
                      <form action="" style="max-width:500px;margin:auto">
                        
                        
                      
                        <div class="input-container">
                          <i class="fa fa-envelope icon"></i>
                          <input class="input-field" type="text" placeholder="Emai ID" name="email">
                        </div>
                        
                        <div class="input-container">
                          <i class="fa fa-lock icon"></i>
                          <input class="input-field" type="password" placeholder="Password" name="psw">
                        </div>
                      
                        <button type="submit" class="btn">Sign In</button>
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">Remember Me
                        </label>
                        <label class="checkbox-inline pass">
                          <p>Forget Password?</p>
                        </label>
                        <button type="submit" class="btn1">NOT ACCOUNT? SIGNUP</button>
                      </form>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>  
  

  <div class="col-sm-7  right loginback">
      <!-- <div class="right"></div>   -->
      <div class="row">
        <div class="col-sm-12">
        <img  class="main-img" src="../../assets/Images/WEB-03.png" >
        </div>
        <div class="col-sm-12 badges" >
          <img class="fl-Right" src="../../assets/Images/android.png" alt="Smiley face" height="60">   
          <img class="fl-Right" src="../../assets/Images/iphone.png" alt="Smiley face" height="60">   
        </div>
     </div>
      
  </div>
</div>
</div>