<div class="container-fluid">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active" >
    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Parcels</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#references" role="tab" data-toggle="tab">Investment Grade</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="profile"><app-search></app-search></div>
  <div role="tabpanel" class="tab-pane fade" id="buzz"><app-parcel></app-parcel> </div>
  <div role="tabpanel" class="tab-pane fade" id="references"><app-grade></app-grade> </div>
</div>
</div>
