<div class="wrapper">
  <div class="box">
      <div class="row row-offcanvas row-offcanvas-left">
                    
        
          <!-- sidebar -->
          <div class="column col-sm-2 sidebar-offcanvas" id="sidebar">
              <ul class="nav" id="menu">
                  <li><a href="#"><i><img src="../../../assets/images/logo.png" width="35px"></i> <span class="collapse in">Home</span></a></li>
              </ul>
              <ul class="nav dai" id="menu">
                  <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in">Diamonds</span></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-list"></i> <span class="collapse in">Jewelry</span></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> <span class="collapse in">Auctions</span></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> <span class="collapse in">Trade Center</span></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in">Buy Requests</span></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-list"></i> <span class="collapse in">Member Directory</span></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> <span class="collapse in">Instant invertory</span></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> <span class="collapse in">News</span></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> <span class="collapse in">Support</span></a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> <span class="collapse in">Add-ons</span></a></li>
              </ul>

          </div>
          <!-- /sidebar -->
        
          <!-- main right col -->
          <div class="column col-sm-10" id="main">
              
     
            <a data-toggle="offcanvas"><i class="fa fa-navicon button-toggle"></i></a>
         
              
         <app-daimond></app-daimond>
         
                    
                  
          </div>
          <!-- /main -->
        
      </div>
  </div>
</div>
