<app-navbar></app-navbar>
<div class="view intro hm-purple-light" >
</div>
<div class="grid-container">
<div class="Banner-Heading">
<h1>Source and sell diamonds and jewlery</h1>

</div>
<div class="left-content">
  <img src="../../assets/images/WEB-02.png"  width="180px">
</div>
  <div class="middle-content" style="padding-top: 0px;">
    <h3>on the industry’s largest and most trusted trading marketplace</h3>
  
    <button type="button" class="btn  btn-lg" style="margin-top: 30px">MEMBERSHIP PLANS</button>
    <button type="button" class="btn  btn-lg" style="margin-top: 30px">GET A FREE TRAIL</button>
  
    <h4>POWERED BY GGI LAB (Galaxy Gemological Institute)</h4>
    <div class="badges" >
      <a href="#"><img src="../../assets/images/android.png" alt="Smiley face" > </a>      
      <a href="#"><img src="../../assets/images/iphone.png" alt="Smiley face" >   </a>
  </div>
  </div>
  <div class="right-content">
    <img src="../../assets/images/WEB-03.png"  width="325px">   

    </div>
  </div>